body{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(115, 163, 115, 0.421);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    padding: 0;
    margin: 0;
}
.parent{
    width: 50%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.891);
    border-radius: 10px;
    font-family: Karla-Bold;
}
.lable{
    display: flex;
    justify-content: space-evenly;
}
:focus{
    outline: none;
    box-shadow: none;
}
.lable div{
    margin-top: 20px;
}
.lable input{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(115, 163, 115);
}
.email{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.email p{
    margin-bottom: 10px;
}
.email input{
    width: 530px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(115, 163, 115);
    margin: auto;
}
